[submodule "lib/fogml_sdk"]
	path = lib/fogml_sdk
	url = git@github.com:MrJake222/fogml_sdk.git
[submodule "lib/printf"]
	path = lib/printf
	url = git@github.com:MrJake222/printf.git
[submodule "lib/lwmem"]
	path = lib/lwmem
	url = git@github.com:MaJerle/lwmem.git
	branch = main
